.navbar {
    background-color: white;
    position: relative;
    height: 70px;
    width: 100%;
    z-index: 100;
}
.logo {
    width: 17%;
}
.collapse {
    width: 53%;
}
.nav-tools {
    position: relative;
    z-index: 101;
    width: 30%;
}

.navigation {
    width: 50%;
}

.link {
    position: relative;
    height: 100%;
}
.link a {
    font-weight: bold;
    font-size: 18px;
}
.link.active .line {
    position: absolute;
    top: 45px;
    width: 100%;
    border-bottom: 3px solid rgb(231, 105, 31);
}
.search-box-parent {
    display: flex;
    justify-content: center;
    width: 70%;
}
.search-box {
    outline: none;
    width: 80%;
    height: 35px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 4px;
}
.search-box::placeholder {
    color: rgb(153, 153, 153);
    padding-left: 35px;
    font-size: 18px;
    font-weight: 500;
}
.search-box::first-line {
    padding-left: 50px;
}
.icon_A.bell {
    cursor:pointer;
}
.icon_A.search {
    fill: rgb(153, 153, 153);
    position: absolute;
    top: 20%;
    left: 38px;
    height: 20px;
    width: 20px;

}
.profile-picture {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.sidebar-menu-parent {
    position: relative;
}
.sidebar-menu {
    z-index: 99;
    display: none;
    flex-direction: column;
    background-color: white;
    transition: .3s;
    position: absolute;
    padding: 10px 5px;
    min-width: 200px;
    box-shadow: 1px 11px 20px rgba(109, 109, 109, 0.336)
}
.sidebar-menu.show {
    display:flex;
    top: 100px;
    left: -300%;
}
.sidebar-menu.show.active {
    display: flex;
    top: 60px;
    left: -300%;
}
.menu-option {
    padding-bottom: 5px;
    display: flex;
    align-items: center;

}
.menu-option:hover .icon_A {
    fill: var(--icon-active);
}
.menu-option:hover h5 {
    color: var(--icon-active);
}
.sidebar-menu .icon_A {
    transition: .2s;
    fill: rgb(116, 116, 116);
}

@media (max-width: 1200px) {
    .navigation {
        width: 60%;
    }
    .nav-tools {
        width: 220px;
    }
    .search-box {
        width: 80%;
    }
    .search-box::placeholder {
        padding-left: 28px;
    }
    .icon_A.search {
        left: 24px;
    }


}

@media (max-width: 1090px) {
    .navigation {
        width: 60%;
    }
    .bell {display: none;}

}
@media (max-width: 990px) {
    .navigation {
        width: 80%;
    }
}
@media (max-width: 765px) {
    .collapse {
        display: none;
    }
    .logo {
        width: 10%;
    }
    .search-box-parent {
        display: none;
    }
    .sidebar-menu-parent{
        width: 50%;
    }
    .nav-tools {
        position: relative;
        z-index: 101;
        width: 80%;
    }
}